<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wafer Fault Detection</title>
  <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
  <header>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Features</a>
      <a href="#">Contact</a>
    </nav>
  </header>

  <center>
  <h1>Wafer Fault Detection</h1>
    <p>Predicting faults for accurate manufacturing</p>
    </center>

  <main>
    <h2>Early Fault Detection for Improved Wafer Production</h2>
    <p>This tool empowers you to predict wafer faults before they occur, leading to enhanced quality control and reduced waste.</p>
    <p>To start, upload a CSV file containing wafer data for analysis.</p>
    <a href="/predict" class="upload-button">Upload CSV File</a>
    <p>Download a sample CSV file for reference: <a href="https://github.com/MasteriNeuron/wafer/blob/a4900389f3c2150585f8484b50bc2a9c33eae7b1/prediction_artifacts/test.csv">Sample Data</a></p>
  </main>


</body>
</html>
